# MAP GIT COMMANDS THROUGH HUB
alias git=hub

# DIRECTORIES
alias dotfiles='cd ~/.homesick/repos/dotfiles/'
alias vimfiles='cd ~/.homesick/repos/vimfiles/'
alias matefiles='cd ~/Library/Application\ Support/TextMate/'
alias desktop='cd ~/Desktop/'
alias sort='cd ~/Desktop/sort/'
alias dox='cd ~/Documents/'
alias work='cd ~/Documents/work/'
alias life='cd ~/Documents/life/'
alias books='cd ~/Documents/life/books/'
alias pix='cd ~/Pictures/'
alias sites='cd ~/Sites/'
alias protosite='cd ~/Sites/protosite/'

# OPEN STUFF
alias termtips='open http://gist.github.com/585169'

# IDEs and ENVIRONMENTS
alias mine="/Applications/RubyMine.app/Contents/MacOS/rubymine &"
alias node-repl="rlwrap node-repl"

# BROWSERS
alias safari='open -a Safari'
alias firefox='open -a FireFox'
alias chrome='open -a Google\ Chrome'

# MISC
alias reload="source ~/.profile"
alias cp='cp -i'
alias mv='mv -i'
alias ll='ls -la'
alias ftail='tail -f Library/Preferences/Macromedia/Flash\ Player/Logs/flashlog.txt'

function show_colors() {
  echo -e "${COLOR_BLACK}COLOR_BLACK"
  echo -e "${COLOR_GRAY}COLOR_GRAY"
  echo -e "${COLOR_RED}COLOR_RED"
  echo -e "${COLOR_LIGHT_RED}COLOR_LIGHT_RED"
  echo -e "${COLOR_GREEN}COLOR_GREEN"
  echo -e "${COLOR_LIGHT_GREEN}COLOR_LIGHT_GREEN"
  echo -e "${COLOR_BROWN}COLOR_BROWN"
  echo -e "${COLOR_YELLOW}COLOR_YELLOW"
  echo -e "${COLOR_BLUE}COLOR_BLUE"
  echo -e "${COLOR_LIGHT_BLUE}COLOR_LIGHT_BLUE"
  echo -e "${COLOR_MAGENTA}COLOR_MAGENTA"
  echo -e "${COLOR_LIGHT_MAGENTA}COLOR_LIGHT_MAGENTA"
  echo -e "${COLOR_CYAN}COLOR_CYAN"
  echo -e "${COLOR_LIGHT_CYAN}COLOR_LIGHT_CYAN"
  echo -e "${COLOR_LIGHT_GRAY}COLOR_LIGHT_GRAY"
  echo -e "${COLOR_WHITE}COLOR_WHITE"
  echo -e "${COLOR_NC}COLOR_NC"
}
